NODE_ENV=production
API_PORT=4000
FRONTEND_URL=http://localhost:3000
PUBLIC_DOMAIN=https://seu-dominio.bet.br
BRAND_NAME=PLATAFORMA APOSTA
LEGAL_ENTITY_NAME=
LEGAL_CNPJ=
LICENSE_REFERENCE=
DATABASE_URL=postgresql://postgres:postgres@db:5432/betting
REDIS_URL=redis://redis:6379
JWT_ACCESS_SECRET=CHANGE_ME_MINIMUM_64_RANDOM_CHARS
JWT_REFRESH_SECRET=CHANGE_ME_DIFFERENT_MINIMUM_64_RANDOM_CHARS
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_DAYS=30
CPF_HASH_PEPPER=CHANGE_ME_PRIVATE_PEPPER
INTERNAL_JOB_SECRET=CHANGE_ME_INTERNAL_JOB_SECRET
ENABLE_REAL_MONEY=false
REQUIRE_FEDERAL_LICENSE=true
PAYMENT_PROVIDER=mercadopago
MERCADOPAGO_MODE=test
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_WEBHOOK_SECRET=
PAYMENT_CUSTOM_BASE_URL=
PAYMENT_CUSTOM_API_KEY=
PAYMENT_CUSTOM_WEBHOOK_SECRET=
PAYMENT_WEBHOOK_URL=https://seu-dominio.bet.br/api/payments/webhook/mercadopago
MIN_DEPOSIT_BRL=20
MIN_WITHDRAWAL_BRL=50
KYC_PROVIDER=external
KYC_PROVIDER_BASE_URL=
KYC_PROVIDER_API_KEY=
KYC_CALLBACK_SECRET=
SPORTS_PROVIDER=theoddsapi
SPORTS_DATA_API_KEY=
SPORTS_DATA_BASE_URL=https://api.the-odds-api.com/v4
SPORTS_DEFAULT_REGIONS=eu
SPORTS_DEFAULT_MARKETS=h2h,totals
CASINO_PROVIDER=aggregator
CASINO_PROVIDER_BASE_URL=
CASINO_PROVIDER_API_KEY=
CASINO_CALLBACK_SECRET=
ENABLE_EVENT_MARKETS=false
ENABLE_P2P_REAL_MONEY=false
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_BRAND_NAME=PLATAFORMA APOSTA
